*.pyc
Session.vim
env
docs/_build
.venv
frontend/node_modules
frontend/metadata
frontend/rime_session.db

# Ignore example/ directory
example

# Ignore MacOS specific file
.DS_Store

# Wheels required to make a Windows release.
wheels
releases
